In [44]:
import pandas as pd
import numpy as np
import os
import urllib
import chardet

In [104]:
inicial = 2000
final = 2023
caminho_src_data = f'..\\src\\data\\'
for ano in np.arange(inicial, final+1,1):
    url = f'https://www.senado.gov.br/transparencia/LAI/verba/despesa_ceaps_{ano}.csv'
    try:
        urllib.request.urlretrieve(url,filename=caminho_src_data+f'despesa_ceaps_{ano}.csv')
    except:
        print(f'sem dados para {ano}')

sem dados para 2000
sem dados para 2001
sem dados para 2002
sem dados para 2003
sem dados para 2004
sem dados para 2005
sem dados para 2006
sem dados para 2007

In [75]:
with open(caminho_src_data + f'despesa_ceaps_2008.csv', 'rb') as file:
    result = chardet.detect(file.read())
    encoding = result['encoding']
    print(result['encoding'])

ISO-8859-1

In [108]:
ano = 2009
arquivo = f'despesa_ceaps_{ano}.csv'
df_2009 = pd.read_csv(caminho_src_data + arquivo,encoding='ISO-8859-1',on_bad_lines='skip', delimiter=';',skiprows=1)

In [113]:
df_2009.columns

Index(['ANO', 'MES', 'SENADOR', 'TIPO_DESPESA', 'CNPJ_CPF', 'FORNECEDOR',
       'DOCUMENTO', 'DATA', 'DETALHAMENTO', 'VALOR_REEMBOLSADO',
       'COD_DOCUMENTO'],
      dtype='object')

In [117]:
df_2009.dtypes

ANO                    int64
MES                    int64
SENADOR               object
TIPO_DESPESA          object
CNPJ_CPF              object
FORNECEDOR            object
DOCUMENTO             object
DATA                  object
DETALHAMENTO         float64
VALOR_REEMBOLSADO     object
COD_DOCUMENTO          int64
dtype: object

In [132]:
df_2009.VALOR_REEMBOLSADO = df_2009.VALOR_REEMBOLSADO.str.replace(",",".").astype('float')
df_2009.sort_values()

In [138]:
df_2009.groupby("SENADOR").sum().sort_values("VALOR_REEMBOLSADO", ascending = False)

,ANO,MES,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
SENADOR,,,,,
MARCONI PERILLO,421890,1548,0.0,180000.00,24108285625925
MOZARILDO CAVALCANTI,1211427,4846,0.0,180000.00,30135416862282
GILVAM BORGES,24108,78,0.0,180000.00,6027061770601
INÁCIO ARRUDA,297332,1153,0.0,180000.00,18081213834989
OSMAR DIAS,1165220,4466,0.0,180000.00,28126388857289
...,...,...,...,...,...
EDUARDO SUPLICY,383719,1355,0.0,29761.31,18081213796722
ROBERTO CAVALCANTI,30135,138,0.0,26300.00,2986348
JOÃO TENÓRIO,40180,176,0.0,21911.76,6027064981594
ACIR GURGACZ,4018,24,0.0,17620.00,444933
JOSÉ MARANHÃO,6027,4,0.0,14383.20,6027040552613